.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0, 80%);
  opacity: 70%;
  z-index: 9998;
  display: none;
}


.modal-window{
  background-color: white;
  position: fixed;
  width: 30rem;
  height: 20rem;
  border: 1px dotted grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: block;


  button:first-child {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px;
  }

  button:last-child {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 5px;
  }
  .profile-image-input-wrapper{
    width: 100%;
    height: 100%;
    padding: 1rem;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    textarea[name="post-content-input"]{
      width: 80%;
      height: 80%;
      border: none;


    }

    .profile-image-wrapper{
      display: flex;
      flex-direction: column;
      flex-basis: 50px;
      width: 80%;
      height: 80%;
      img {
        width: 100%;
        height: auto;
      }

    }
  }


}


.top-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  /* border: solid; */

}


.side-navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 10rem;
  height: 100%;
  border-right-style: solid;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
  .nav-buttons-and-post-button-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
  }
  .user-info-wrapper{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    padding-bottom: 1rem;
    .profile-image-wrapper {
      flex-basis: 50px;
    }
    .username-wrapper {
      display: flex;
      flex-flow: column;
      p {
        padding: 0px;
        margin: 0px;
      }
    }

  }


}


.profile-image {
  // display: none;
  width: 100%;
  height:auto;
}


.main-content {

  width: 100%;
  height: 100%;
  padding-top: 6rem;
  padding-left: 11rem;

  .post-wrapper{
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-flow: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
    .profile-image-wrapper{
      display: flex;
      flex-direction: column;
      flex-basis: 10rem;
      width: 80%;
      height: 80%;
      img {
        width: 100%;
        height: auto;
      }

    }

    .username-post-content-wrapper{
      display: flex;
      flex-flow: column;

      .userActualName-username-date-wrapper{
        
        p {
          padding: 0px;
          margin: 0px;
          display: inline;
        }
        .userActualName, .username{
          margin-right: 0.25rem;
        }
        .post-content-wrapper{
          .post-wrapper{
            text-align: left;
          }
        }

      }
    }

    .like-button{
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin: 5px;
    }



  }




}