{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <title>{% block title %}Social Network{% endblock %}</title>
        
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% endcomment %}

        <meta charset="utf-8" />
        <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta
        name="description"
        content="Web site created using create-react-app"
        />
        {% comment %} <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" /> {% endcomment %}
        {% comment %} <link rel="manifest" href="%PUBLIC_URL%/manifest.json" /> {% endcomment %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,600;1,800&display=swap" rel="stylesheet">

    </head>

    <style>
      
    </style>

    <body>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
 {% block script %}{% endblock %}
    </body>
</html>