
 html,
 body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: var(--primary-color);
    color: var(--font-color);
 }

 .parent-container {
    position: relative;
    width: max(60%, 800px);
    left: 50%;
    transform: translate(-50%, 0%);
    // top: 400px;
    font-family: 'Noto Sans', sans-serif;
 }