
 html,
 body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: var(--primary-color);
    color: var(--font-color);
 }

 body {
   // height: 100%;
     //  width: max(60%, 800px);
     //  left: 50%;
     //  transform: translate(-50%, 0%);
     
    }
    
    .parent-container {
    //  position: relative;
    
    display: flex;
      max-width: 1300px;
      // justify-content: center;
      // align-items: center;
     margin-left: auto;
     margin-right: auto;
     padding: 0 10px;
      height: 100%;
   //  width: 100%;
    // margin-inline: auto;
    // top: 400px;
    font-family: 'Noto Sans', sans-serif;
 }