.side-navbar-wrapper {
    height: 100svh;
    // border-right: 1px solid var(--border-color);
    padding: 0;
}



  
  
  .side-navbar {
    width: 20vw;
    position: fixed;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 20px 0;
    .navlink{
      padding: 1.5rem 1rem;
    }
    .nav-buttons-and-post-button-wrapper{
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: start;
    }
    .user-info-wrapper{
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      padding-bottom: 1rem;
      .profile-image-wrapper {
          flex-basis: 50px;
        .profile-image {
            // display: none;
            width: 100%;
            height:auto;
          }
      }
      .username-wrapper {
        display: flex;
        flex-flow: column;
        p {
          padding: 0px;
          margin: 0px;
        }
      }
  
    }
  

  
  }

  
  @media (max-width: 500px) {
    .side-navbar-wrapper {
      display: none;
    }
  }
  
  /* From 500px to 1280px */
  @media (min-width: 501px) and (max-width: 1280px) {
    .side-navbar-wrapper{
      min-width: 80px;
      padding: 0;
    }
    .side-navbar{
      // width: fit-content;
    }
    .navlink-text {
      display: none;
    }
    .username-wrapper {
      // display: none;
      visibility: hidden;
    }
  }
  @media (min-width: 1281px) {
    .side-navbar-wrapper{
      // width: 10vw;
      // max-width: 200px;
      min-width: 200px;
      // padding: 0;
    }
    .side-navbar{
      // width: 20vw;
    }
  }