// .navbar {
//   position: relative;
// }


.top-navbar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80%;
    height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    border-bottom: solid;
  
  }
  
  
  .side-navbar {
    position: sticky;
    top: 0px;
    left: 0%;
    // transform: translate(-50%, 0%);
    width: 20%;
    height: 100svh;
    border-right-style: solid;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    .nav-buttons-and-post-button-wrapper{
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: start;
    }
    .user-info-wrapper{
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      padding-bottom: 1rem;
      .profile-image-wrapper {
          flex-basis: 50px;
        .profile-image {
            // display: none;
            width: 100%;
            height:auto;
          }
      }
      .username-wrapper {
        display: flex;
        flex-flow: column;
        p {
          padding: 0px;
          margin: 0px;
        }
      }
  
    }
  

  
  }